<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cairo" version="2.0.0.0" targetFramework="net40-Client" />
  <package id="GLib" version="2.28.1" targetFramework="net40-Client" />
  <package id="Kean.Core" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Buffer" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Collection" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Error" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Recycle" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Reflect" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Uri" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Draw" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Draw.Cairo" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Draw.Raster" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Math" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Math.Geometry2D" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Pango" version="1.28.3" targetFramework="net40-Client" />
</packages>