<?xml version="1.0" encoding="UTF-8"?>
<?include ..\..\VersionInfo.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Imint.Media.Sensoray.Installer" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="cce64db3-927c-443b-9950-f6aacc8f0602">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Imint.Media.Sensoray" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductPlayer" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="[INSTALLFOLDER]">
					<Directory Id="CONFIGURATIONFOLDER" Name="Configuration">
						<Directory Id="PLAYERFOLDER" Name="Player" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Imint.Media.Sensoray">
				<File Source="$(var.Imint.Media.Sensoray.Dummy.TargetDir)Imint.Media.Sensoray.dll" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ProductPlayer" Directory="PLAYERFOLDER">
			<Component Id="Imint.Media.Sensoray_80SensorayStream">
				<File Source="$(var.Imint.Media.Sensoray.Dummy.TargetDir)Configuration\Player\80SensorayStream.xml" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>