<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DirectShowLib2005" version="2.0.0.0" targetFramework="net40" />
  <package id="Elecard" version="1.4.111028" targetFramework="net40" />
  <package id="Imint.Icop" version="0.1.0.86" targetFramework="net40" />
  <package id="Imint.Icop.Client" version="0.1.0.86" targetFramework="net40" />
  <package id="Imint.Media" version="2.8.0.159" targetFramework="net40" />
  <package id="Imint.Media.DirectShow" version="2.8.0.160" targetFramework="net40" />
  <package id="Imint.Media.DirectShow.Elecard" version="2.8.0.160" targetFramework="net40" />
  <package id="Kean" version="1.0.5087.28161" targetFramework="net40" />
</packages>